.faqs {
    &.cols-3 {
        display: grid;
        grid-template-columns: 1fr;
        .faq {
            padding: 1rem 1rem 4rem 1rem;
            margin: 1rem 0;
            background-repeat: no-repeat;
            background-size: cover;
            .question {
                text-align: center;
            }
            .answer {
                // position: absolute;
                // width: 70%;
                background-color: white;
                z-index: 1000;
            }
        }
    }
    .faq {
        padding: 1rem 0 1rem 0;
        cursor: pointer;
        &:hover {
            .question {
                background-color: #ccd5aeff;
            }
        }
        .question {
            padding: 1rem 2rem 1rem;
            background-color: #eee;
            font-size: 1rem;
            font-weight: 600;
            display: flex;
            div {
                width: calc(100% - 20px );
            }
            .plus {
                font-size: 2rem;
                padding: 5px;
                cursor: pointer;
            }
        }    
        .answer {
            padding: 1rem;
            border: solid 1px #eee;
            display: none;
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: 37.5rem) {
    .faqs {
        &.cols-3 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .faq {
                &:first-child {
                    margin-right: 1rem;
                }
                &:last-child {
                    margin-left: 1rem;
                }
    
            }

        }
    }
}