/* line 2, sass/style.scss */
.faqs.cols-3 {
  display: grid;
  grid-template-columns: 1fr;
}
/* line 5, sass/style.scss */
.faqs.cols-3 .faq {
  padding: 1rem 1rem 4rem 1rem;
  margin: 1rem 0;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 10, sass/style.scss */
.faqs.cols-3 .faq .question {
  text-align: center;
}
/* line 13, sass/style.scss */
.faqs.cols-3 .faq .answer {
  background-color: white;
  z-index: 1000;
}
/* line 21, sass/style.scss */
.faqs .faq {
  padding: 1rem 0 1rem 0;
  cursor: pointer;
}
/* line 25, sass/style.scss */
.faqs .faq:hover .question {
  background-color: #ccd5aeff;
}
/* line 29, sass/style.scss */
.faqs .faq .question {
  padding: 1rem 2rem 1rem;
  background-color: #eee;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
}
/* line 35, sass/style.scss */
.faqs .faq .question div {
  width: calc(100% - 20px );
}
/* line 38, sass/style.scss */
.faqs .faq .question .plus {
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
}
/* line 44, sass/style.scss */
.faqs .faq .answer {
  padding: 1rem;
  border: solid 1px #eee;
  display: none;
  font-size: 1rem;
}

@media screen and (min-width: 37.5rem) {
  /* line 55, sass/style.scss */
  .faqs.cols-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* line 59, sass/style.scss */
  .faqs.cols-3 .faq:first-child {
    margin-right: 1rem;
  }
  /* line 62, sass/style.scss */
  .faqs.cols-3 .faq:last-child {
    margin-left: 1rem;
  }
}
